* {
 margin: 0;
 padding: 0;
 -webkit-margin-before:0;
 -webkit-margin-after:0;
}
pre {
 font-family: 'Courier New',Arial,sans-serif;
}
code {
 font-family: 'WenQuanYi Micro Hei','Microsoft YaHei',Arial,sans-serif;
}
body {
 font-family: 'WenQuanYi Micro Hei','Microsoft YaHei',Arial,sans-serif;
 background: #dddddd;
}
div {
 overflow: hidden;
}
a {
 color: #ffffff;
 text-decoration: none;
}
body>header {
 margin: 0 auto;
 color: #ffffff;
 background: #123456;
 overflow: hidden;
}
body>header>div {
 padding: 1em 18px 1em 18px;
}
body>header #title {
 display: inline;
}
body>header #icons {
  float:right;
}
body>header #icons a {
 font-size: 1.2em;
}
body>nav {
 background: #123456;
 margin: 0 auto;
 overflow: hidden;
}
body>nav ul {
 padding: 1em 18px 1em 18px;
 float: left;
}
body>nav li {
 float: left;
 list-style: none;
 margin: 0 0.75em;
}
body>nav li:first-child {
 margin: 0 0.75em 0 0;
}
body>nav li:last-child {
 margin: 0 0 0 0.75em;
}
#search-form {
 padding: 0 1em 1em 1em;
 width:15em;
 display:none;
 float:right;
}
#search-input {
 width:100%;
 color:#555;
 padding: 0.25em;
 font-size:1em;
 border-bottom-left-radius:1px;
 border-bottom-right-radius:1px;
 border:1px solid #999;
}
#container {
 background: #ddd;
 margin: 0 auto;
 overflow: hidden;
}
#container>h2 {
 color:#555;
 padding: 1em 0 0 0;
}
#main {
 width: 100%;
 padding: 1em 0;
}
body>footer {
 margin: 0 auto;
 text-align: center;
 background: #123456;
 color: #ffffff;
 overflow: hidden;
}
body>footer>div {
 padding: 0.25em;
}
body>footer a {
 color: #ffffff;
 background: #123456;
}

/* index */
#main .item {
 background: #ffffff;
 padding: 1em 0;
 margin: 0.25em 0;
}
#main .item:first-child {
 margin: 0 0 0.25em 0;
}
#main .item:last-child {
 margin: 0.25em 0 0 0;
}
#main .item h2 {
 padding: 0 18px 0.5em 18px;
}
#main .item h2 a {
 color: #123456;
}
#main .item time {
 color: #aaaaaa;
 padding: 0 18px;
}

/* tags */
#main #tags {
 background: #ffffff;
 font-size: 1.2em;
 padding: 1em;
}
#main #tags a {
 color: #123456;
 padding: 4px
}
#main #tags li {
 display: inline;
}

/* post */
#main #post {
 background: #ffffff;
 color: #555555;
}
#main #post a {
 color: #123456;
}
#main #post article a,
#main #post article a code {
 color: #CC6600;
}
#main #post #post-title {
 overflow: hidden;
 border-bottom: 2px solid #ddd;
}
#main #post #post-title h1 {
 padding: 1em 18px 0 18px;
}
#main #post #post-title p {
 float: right;
 padding: 0.25em 18px 0.25em 0;
}
article {
 line-height: 1.8em;
 padding: 1em 18px 1em 18px;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
 color: #000;
 margin: 0.5em 0;
}
article ul,
article ol {
 margin: 0 28px;
}
article img {
 max-width: 60%;
 display: table;
 margin: 1em auto;
 border: 0.1em solid #ddd;
}
article hr {
 height:1px;
 border:none;
 border-top:1px solid #ddd;
 margin: 0.5em 0em;
}
article p code,
article ul li code {
 color: #666;
 background: #eee;
 margin: 0 2px;
 padding: 0 5px;
 border: 1px solid #ddd;
}
article blockquote{
 margin: 2em 0;
 padding: 1em 30px;
 border-top: 1px solid #ddd;
 border-bottom: 1px solid #ddd;
 font-style: italic;
 text-align: center;
}
article>pre {
 border: 1px solid #ddd;
 background: #eee;
 margin: 0.5em 0;
 padding: 15px;
}
article>figure.highlight {
 overflow: auto;
 margin: 0.5em 0;
 padding: 15px;
 background: #eee;
 border: 1px solid #ddd;
}
article>figure.highlight pre {
 border: none;
 padding: 0;
 margin: 0;
}
article>figure.highlight table {
 margin-top: 0;
 border-spacing: 0;
}
article>figure.highlight .gutter {
 color: #555;
 padding-right: 15px;
 border-right: 1px solid #ddd;
 text-align: right;
}
article>figure.highlight .code {
 padding-left: 15px;
 border-left: 1px solid #fff;
 color: #555;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
 color: #93a1a1;
 font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
 color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
 color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
 color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
 color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
 color: #555;
 font-style: italic;
}
pre .deletion {
 color: #dc322f;
}

#post-footer {
 padding: 0.5em 0.5em;
 border-top:1px solid #ddd;
}
#post-footer>div {
 margin: 0.5em;
}
#post-comment {
 margin: 1em 0 0 0;
 padding: 1em;
 background: #fff;
}

/* archives */
#archives {
 background: #ffffff;
 padding: 1em;
}
#archives a {
 color: #123456;
}
#archives #toggler {
 font-size: 1.5em;
}
#archives>ul {
 padding: 1em 0;
}
#archives .yearmonth {
 font-size: 1.2em;
}
#archives .monthlisting {
 font-size: 1em;
 padding: 0em 1em;
}
#archives li {
 color: #000;
 list-style: none;
}
#archives .monthlisting li {
 padding: 0.25em 0;
}

.pagenav {
 overflow: hidden;
 margin: 0 0 1em 0;
}
.pagenav .next {
 display: block;
 padding: 5px 40px;
 background: #123456;
 color: #ffffff;
 float: right;
}
.pagenav .prev {
 display: block;
 padding: 5px 40px;
 background: #123456;
 color: #ffffff;
 float: left;
}

div.table {
 overflow: auto;
 margin: 0.5em 0;
}
div.table table {
 width: 100%;
 border-collapse: collapse;
}
div.table th { 
 border:1px solid #ddd;
 padding: 0.5em;
 background: #eee; 
} 
div.table td {
 padding: 0.5em;
 border:1px solid #ddd;
} 

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?31434753');
  src: url('../font/fontello.eot?31434753#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?31434753') format('woff'),
       url('../font/fontello.ttf?31434753') format('truetype'),
       url('../font/fontello.svg?31434753#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?31434753#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-rss:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-sina-weibo:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */

/* phone(320px) */
@media only screen and (min-width: 320px),(max-width: 320px) {
 #container {
  width: 95%;
 }
 body>header {
  width: 100%;
 }
 body>nav {
  width: 100%;
 }
 body>footer {
  width: 100%;
 }
}

/* desktop (1600px) */
@media only screen and (min-width: 1600px){
 #container {
  width: 75%;
 }
 body>header {
  width: 75%;
 }
 body>nav {
  width: 75%;
 }
 body>footer {
  width: 75%;
 }
}
